*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Courier, monospace;
  }
.background{
    background-color:#222222;
  
}
.icon{
    margin-right: 20px;
    font-size: 30px;
    color: white;
  
}
.logo{
   margin-top: 10px;
    width: 170px;
    height: 50px;
    
}
.header{
  
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
    align-items: center;
    font-size: 12px;
    height: 4.5em;
    border-bottom-style: solid;
    border-color: #04c2c9;
    border-bottom-width: 2px;
    transition: all .5s ease;
    
}
.links{
    
    height: 0;
    pointer-events: none;
    overflow: hidden;
    width: 100%;
    font-size: 17px;
   
   transition: all .5s ease;
   

}
/*No es el problema*/
.links.active{
    display: flex;
    flex-wrap: wrap;
    pointer-events: all;
    overflow:auto;
    height: 11em;
    z-index: 3;
    transition: all .5s ease;
   
}

.option{
    
    width: 100%;
    text-decoration: none;
    color: white;
    margin-top: 10px;
    margin-left: 20px;
    
  
}
.navbar{
    display: none;
    font-size: 12px;
    width: 100%;
    
}
.navbar-element{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    
}

.header.fixed{ 
   position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
    background-color:#222222;
    transition: all .5s ease;
   
}


.links.active.fixed{
    background-color:#222222;
    position: fixed;
    top: 0;
    margin-top: 3.2em;
    transition: all .5s ease;
}

@media(min-width: 1024px){
    .icon{
        display: none;
    }
   .links.active{
    height: 0;

    border-bottom-style: none;
    transition: all .5s ease;
   }
   .navbar{
    display: block;
  
    }
    .header{
        justify-content: center;
        height: 5.5em;
        
    }
    .navbar-element{
        font-size: 20px;
    }
}
.navbar-element:hover{
    color: #F12971;
    transition: all .5s ease;
}