*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.about-background{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    color:#222222;
    
  
   
}
.about-background h2{
    color:#444649;
   font-family: 'Raleway', sans-serif;
   width: 100%;
   font-size: 33px;
   margin-top: 2em;
   text-align: center;
}



.about-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 3em;
}
/*Quiebre*/
.skills-background{
  
    display: flex;
    flex-wrap: wrap;
    background-color: #f5f5f5; 
    justify-content: center;
    align-items: center;
    z-index: 0;
    height: 60vh;
    width: 100%;
    padding-bottom: 2em;
    
}
.skills-background h3{
    
    color:#F12971;
    font-size: 25px;
    width: 90%; 
    animation: moveRight 2s ease both;
}

.skills-content{
    margin-top: 2em;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.skills-cards{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 18px;
    width: 30%;
    height: 30%;
 
    text-align: center;
    margin: 10px;
    margin-right: 0px;
    font-weight: bold;
    align-items: center;
    max-width: 156px;
    max-height: 125px;
}
.skills-icons{
    background-color: #04c2c9;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    font-size: 60px;
    width: 80%;
    height: 80%;
    text-align: center;
    margin-bottom: 10px;
}
.icons{
    margin-top: 25px;
    color: #ffffff;   
    
}
.photo{
    background-color: #04c2c9;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    margin-top: 1em;
    width: 165px;
    height: 160px;
}

.fullname{
    width: 100%;
    font-weight: bolder;
    margin-bottom: 10px;
}
.information{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
    
    width: 100%;
}
.about{
    width: 90%;
}
.skills-title{
    color:  #616161;
    font-size: 18px;
    width: 50%;
}

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }
    to {
        opacity: 1;
        scale: 100%;
    }
}



@keyframes moveLeft {
    0% {
       
        opacity: 0;
        transform: translateX(-300px);     
       
    }
    100% {
        opacity: 1;
        transform: translateX(0px);   
        
       
    }
}
@keyframes rotate-vertical {
    0% {
        opacity: 0;
        transform:rotateY(180deg)
    }
    100%
    {
        opacity: 1;
        transform:rotateY(360deg)}
    }
  
    .about-background.active p{
        color: white;
        animation: show 2s ease;
    }

   
@media(min-width: 1024px){
    .about-background h2{
        color: white;
    }
    .about-background .bar{
        background-color: white;
    }
    .about-background .skills-icons{
        background-color: white;
    }
    .about-background.active h2{
        color:#444649;
        animation: moveLeft 0.75s ease both;
    }
    .about-background.active .bar{
        background-color: #444649;
        animation: moveLeft 0.75s ease both;
        animation-delay: 0.5s;
    }
    .about-background.active .skills-icons{
        background-color: #04c2c9;
        animation: rotate-vertical 0.5s ease both;
    }

    .icons{
        font-size: 1.5em;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .photo{
        height: 30vh;
        width: 15vw;
    }
    
    .information{   
        font-size: 20px; 
        margin-left: 9em;
        text-align: left;   
        justify-content: left;
        width: 50%;
       
        
    }
    .fullname{
        
        width: 100%;
    }
    .about{
        width: 80%;
    }

    
    .skills-cards{
        font-size: 25px;
        width: 20%;
        height: 70%;
        max-width: 206px;
        max-height: 179px;
        
    }
    
    .skills-background{
        
        width: 100%;
        height: 16em;
        
    }
    .skills-content{
        margin:auto;
    }
    .skills-list{
        font-size: 18px;
        
    }   
    .about-content{
        width: 100%;
    }    
  
    .about-background p{
        margin-left: 3.5em;
        font-size: 20px;
        width: 60%;
    }
    .about-background h2{
        font-size: 40px;
        
    }

    
}

